---
import Layout from "@layouts/Layout.astro";

import SectionContainer from "@components/zSectionContainer.astro";
import HeroSection from "@components/HeroSection";
import Experiencia from "@components/Experence";
import { SkillsSection } from "@components/SkillsSection";
import Proyectos from "@components/Projects";
import Aboutme from "@components/AboutMe";
---

<Layout
  title="Jonathan Silvestre"
  description="Jonathan Silvestre - Software Developer"
>
  <main class="px-4">
    <SectionContainer id="home">
      <section>
        <HeroSection client:load />
      </section>

      <SectionContainer id="experence">
        <section>
          <Experiencia />
        </section>
      </SectionContainer>

      <SectionContainer id="proyects">
        <section>
          <Proyectos client:load />
        </section>
        <SectionContainer id="skills">
          <section>
            <SkillsSection />
          </section>
        </SectionContainer>
      </SectionContainer>

      <SectionContainer id="aboutMe">
        <section>
          <Aboutme />
        </section>
      </SectionContainer>
    </SectionContainer>
  </main>
</Layout>
